@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed');
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

ul,
p,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.greenstrip {
    background: #02263C;
    line-height: 30px;
    color: #fff;
}

.allinline * {
    font-size: 12px;
}

.allinline a,
.allinline span {
    color: #fff;
    line-height: 30px;
    display: inline-block;
    *display: inline;
    margin: 0 5px;
}

.skiptomain {
    background: url(../images/downarrow_icon.svg) no-repeat center left;
    background-size: 15px auto;
    padding-left: 20px;
}

.skiptonav {
    background: url(../images/downarrow_icon.svg) no-repeat center left;
    background-size: 15px auto;
    padding-left: 20px;
}

.screenreader {
    background: url(../images/speaker_icon.svg) no-repeat center left;
    background-size: 20px auto;
    padding-left: 30px;
}

.black-css {
    border: 1px solid #808080;
    line-height: 18px !important;
    width: 20px;
    background: #000;
}

.blue-css {
    border: 1px solid #fff;
    line-height: 18px !important;
    width: 20px;
    background: #183883;
}

.green-css {
    background: #266A05;
    border: 1px solid #fff;
    line-height: 18px !important;
    width: 20px;
}

.orange-css {
    background: #E07110;
    border: 1px solid #fff;
    line-height: 18px !important;
    width: 20px;
}

.navbar-default {
    border: none;
    background: transparent;
    padding: 20px 0;
}

.img-fill {
    width: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    text-align: center
}

.img-fill>img {
    width: 100%;
    position: relative;
    display: inline-block;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.Grid1k {
    padding: 0 15px;
    max-width: 1200px;
    margin: auto;
}

.blocks-box,
.slick-slider {
    margin: 0;
    padding: 0;
}

.slick-slide {
    float: left/* If RTL Make This Right */
    ;
    padding: 0;
}


/* ==== Slider Style === */

.Modern-Slider {
    overflow: hidden;
}

.Modern-Slider .NextArrow {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 45px;
    height: 80px;
    background: rgba(0, 0, 0, .50);
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font: 30px/80px FontAwesome;
    color: #FFF;
    z-index: 5;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.Modern-Slider .NextArrow:before {
    content: '\f105';
}

.Modern-Slider .PrevArrow {
    position: absolute;
    top: 50%;
    left: 0px;
    width: 45px;
    height: 80px;
    background: rgba(0, 0, 0, .50);
    border: 0 none;
    margin-top: -22.5px;
    text-align: center;
    font: 30px/80px FontAwesome;
    color: #FFF;
    z-index: 5;
    cursor: pointer;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.Modern-Slider .PrevArrow:before {
    content: '\f104';
}

.Modern-Slider .NextArrow .Thumbnail {
    display: block;
    position: absolute;
    width: 120px;
    height: 80px;
    background-size: cover;
    top: 0px;
    right: -120px;
    z-index: 10;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.Modern-Slider .NextArrow:hover .Thumbnail {
    right: 45px;
}

.Modern-Slider .PrevArrow .Thumbnail {
    content: '';
    display: block;
    position: absolute;
    width: 120px;
    height: 80px;
    background-size: cover;
    top: 0px;
    left: -120px;
    z-index: 10;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.Modern-Slider .PrevArrow:hover .Thumbnail {
    left: 45px;
}

.Modern-Slider .slick-dots {
    position: absolute;
    height: 50px;
    bottom: 0px;
    width: 100%;
    left: 0px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-align: center;
}

.Modern-Slider .slick-dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: Transparent;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    border-radius: 50%;
    border: 2px solid #FFF;
    margin: 0 2.5px;
    cursor: pointer;
    position: relative;
}

.Modern-Slider .slick-dots li.slick-active {
    background: #fff;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .28);
}

.Modern-Slider .slick-dots li a {
    position: absolute;
    bottom: 100%;
    left: 50%;
    width: 120px;
    height: 75px;
    display: block;
    visibility: hidden;
    margin-left: -60px;
    margin-bottom: 15px;
    -webkit-transition: visibility 0.5s linear 0.5s;
    transition: visibility 0.5s linear 0.5s;
    -webkit-animation: fadeOut 0.5s both;
    animation: fadeOut 0.5s both;
}

.Modern-Slider .slick-dots li a:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 100%;
    width: 0;
    height: 0;
    margin-top: 4px;
}

.Modern-Slider .slick-dots li:hover a {
    visibility: visible;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-animation: fadeIn 0.5s both;
    animation: fadeIn 0.5s both;
}

.Modern-Slider .slick-dots li a img {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;
}

.Modern-Slider .item .img-fill {
    background: #000;
}

.Modern-Slider .item .img-fill .info {
    position: absolute;
    width: 100%;
    height: 500px;
    top: 0px;
    left: 0px;
    line-height: 90vh;
    text-align: center;
}

.Modern-Slider .item .img-fill img {
    /* -webkit-filter:blur(5px);
    filter:blur(5px);*/
}

.Modern-Slider .item .info>div {
    display: inline-block!important;
    vertical-align: middle;
    padding: 20px;
}

.Modern-Slider .item h3 {
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    font-weight: lighter;
    color: #FFF;
    -webkit-animation: fadeOutRight 1s both;
    animation: fadeOutRight 1s both;
    margin: 0;
    padding: 0;
}

.item {}

.Modern-Slider .item h5 {
    margin: 0 auto;
    padding: 0;
    text-align: center;
    font-family: arial;
    line-height: 30px;
    width: 500px;
    color: #FFF;
    overflow: hidden;
    height: 60px;
    -moz-text-align-last: center;
    text-align-last: center;
    -webkit-animation: fadeOutLeft 1s both;
    animation: fadeOutLeft 1s both;
}

.Modern-Slider .item.slick-active h3 {
    -webkit-animation: flipInX 1s both 1s;
    animation: flipInX 1s both 1s;
}

.Modern-Slider .item.slick-active .info>div {
    -webkit-animation: flipInY 0.5s both 0.5s;
    animation: flipInY 0.5s both 0.5s;
}

.Modern-Slider .item.slick-active h5 {
    -webkit-animation: fadeInUp 1s both 1.5s;
    animation: fadeInUp 1s both 1.5s;
}

.Modern-Slider .item:nth-child(odd) {
    -webkit-animation: ShutterOutV 0.3s both;
    animation: ShutterOutV 0.3s both;
}

.Modern-Slider .item.slick-active:nth-child(odd) {
    -webkit-animation: ShutterInH 0.3s both;
    animation: ShutterInH 0.3s both;
}

.Modern-Slider .item:nth-child(even) {
    -webkit-animation: ShutterOutH 0.3s both;
    animation: ShutterOutH 0.3s both;
}

.Modern-Slider .item.slick-active:nth-child(even) {
    -webkit-animation: ShutterInV 0.3s both;
    animation: ShutterInV 0.3s both;
}

.Modern-Slider {
    background: #000;
}


/* ==== Slider Image Transition === */

@-webkit-keyframes ShutterInH {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
    }
    to {
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes ShutterInH {
    from {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
    }
    to {
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@-webkit-keyframes ShutterOutH {
    from {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
    }
    to {
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}

@keyframes ShutterOutH {
    from {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
    }
    to {
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
    }
}

@-webkit-keyframes ShutterInV {
    from {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
    }
    to {
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes ShutterInV {
    from {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
    }
    to {
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@-webkit-keyframes ShutterOutV {
    from {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
    }
    to {
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}

@keyframes ShutterOutV {
    from {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
    }
    to {
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
    }
}


/* ==== Slick Slider Css Ruls === */

.slick-slider {
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.slick-list:focus {
    outline: none
}

.slick-list.dragging {
    cursor: hand
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: ''
}

.slick-track:after {
    clear: both
}

.slick-loading .slick-track {
    visibility: hidden
}

.slick-slide {
    display: none;
    float: left/* If RTL Make This Right */
    ;
    height: 100%;
    min-height: 1px
}

.slick-slide.dragging img {
    pointer-events: none
}

.slick-initialized .slick-slide {
    display: block
}

.slick-loading .slick-slide {
    visibility: hidden
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent
}

.posrel {
    position: relative;
}

.abs {
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 999999;
    width: 100%;
    display: block;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: none;
    color: #fff;
}

.nav>li>a {
    padding-left: 12px;
    padding-right: 12px;
}

.navbar-default .navbar-nav>li>a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: #000;
    font-weight: bold;
}

.btn-primary {
    font-family: 'Roboto condensed' font-size:15px;
    font-weight: lighter;
    color: #fff;
    font-size: 20px;
    background: #3A9325;
    border-radius: 20px;
    padding: 10px 20px;
    border: none;
}

.orangenews {
    background: #E8620C;
}

.whitenews {
    line-height: 50px;
    color: #fff;
    font-weight: bold;
}

.greybg {
    background: #F3F3F3;
}

.indiaicon1 {
    background: url(../images/indialogo1.png) no-repeat center center;
}

.owl-carousel .owl-dots {
    position: absolute;
    z-index: 999;
    text-align: center;
    bottom: 50px;
    width: 50%;
}

.owl-carousel .owl-dots .owl-dot {
    display: inline-block;
}

.relnew {
    width: 100%;
    height: 100%;
    position: relative;
}

.absnew {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:
}

.absnew h2 {
    text-align: center;
    font-family: 'Roboto condensed';
    font-size: 70px;
    color: #23C670;
    font-weight: bold;
    vertical-align: center;
    margin-top: 150px;
    line-height: normal;
}

.absnew h3 {
    text-align: center;
    font-family: 'Roboto condensed';
    font-size: 39px;
    color: #fff;
    font-weight: bold;
    vertical-align: center;
}

h2 {
    color: #000;
    font-family: 'Roboto condensed';
    font-size: 30px;
    line-height: 50px;
    padding: 30px 0;
    text-transform: uppercase;
    font-weight: bold;
}

.textmatter {
    min-height: 425px;
    padding: 0 40px;
    text-align: justify;
}

.btn-danger {
    font-family: 'Roboto condensed' font-size:15px;
    font-weight: lighter;
    color: #fff;
    font-size: 15px;
    background: #E8620C;
    border-radius: 10px;
    padding: 10px 10px;
    border: none;
}

.news li {
    border-left: 1px solid #EDEDED;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #EDEDED;
}

.news li .daynyear::before {
    content: "";
    background: url('../images/ornagedot.svg');
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    z-index: 999999;
    left: -20px;
    top: 0px;
}

.newscontainer {
    padding: 50px 0;
}

.whitebox {
    background: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.whitebox .title {
    background: #3A9325;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto condensed';
    font-size: 25px;
    font-weight: bold;
    padding-left: 20px;
    line-height: 55px;
}

.daynyear,
.newstext {
    display: inline-block;
    *display: inline-block;
    zoom: 1;
}

.daynyear {
    width: 35px;
    height: 40px;
    border: 1px solid #FF5A00;
    padding: 5px;
    font-size: 11px;
    text-align: center;
    line-height: normal;
    font-weight: bold;
    color: #FF5A00;
    position: relative;
    top: -25px;
}

.daynyear span {
    color: #3B3B3B;
}

.newstext {
    max-width: 270px;
    margin-left: 10px;
}

.newstext h5 {
    font-weight: bold;
    color: #000;
    line-height: 30px;
}

.newstext h6 {
    color: #000;
    line-height: 18px;
}

.whiteborder {
    position: relative;
}

.whiteborder img {
    border: 4px solid #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.greenbg {
    background: #3A9325;
    padding: 20px 0;
}

.hexagon {
    position: relative;
    width: 163px;
    height: 94.11px;
    background-color: #e8620c;
    margin: 47.05px 0;
    border-left: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 115.26px;
    height: 115.26px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 21.8708px;
}

.hexagon:before {
    top: -57.6292px;
    border-top: solid 2.8284px #ffffff;
    border-right: solid 2.8284px #ffffff;
}

.hexagon:after {
    bottom: -57.6292px;
    border-bottom: solid 2.8284px #ffffff;
    border-left: solid 2.8284px #ffffff;
}

.hexagon-white {
    position: relative;
    width: 163px;
    height: 94.11px;
    background-color: #ffffff;
    margin: 47.05px 0;
    border-left: solid 2px #a6a6a6;
    border-right: solid 2px #a6a6a6;
}

.hexagon-white:before,
.hexagon-white:after {
    content: "";
    position: absolute;
    z-index: 1;
    width: 115.26px;
    height: 115.26px;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background-color: inherit;
    left: 21.8708px;
}

.hexagon-white:before {
    top: -57.6292px;
    border-top: solid 2.8284px #a6a6a6;
    border-right: solid 2.8284px #a6a6a6;
}

.hexagon-white:after {
    bottom: -57.6292px;
    border-bottom: solid 2.8284px #a6a6a6;
    border-left: solid 2.8284px #a6a6a6;
}

.whitetext,
.blacktext {
    position: absolute;
    z-index: 9999;
    display: block;
    text-align: center;
    min-width: 100px;
    left: calc(50% - 50px);
    padding-top: calc(50% - 50px);
    font-family: 'Roboto condensed';
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

.whitetext:hover,
.blacktext:hover {
    text-decoration: none;
}

.whitetext {
    color: #fff;
}

.blacktext {
    color: #000;
}

.regional {
    padding: 00px 0 50px 0;
}

.shadowbox {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.mapadd {
    height: 165px;
    width: 100%;
    display: block;
    text-align: center;
}

.mapadd img {
    display: inline;
    vertical-align: middle;
    margin-top: 20px;
}

.greentitle {
    line-height: 43px;
    background: #3A9325;
    color: #fff;
    font-family: 'Roboto condensed';
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 0 0 5px 5px;
}

.allicons {
    background: url(../images/bg.jpg) no-repeat center top;
    padding: 50px 0;
    background-size: cover;
}

.outlinebox {
    background: url(../images/icon-gradient.png) no-repeat center 20px;
    border: 1px solid #A6A6A6;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

.icons-title {
    color: #fff;
    font-family: 'Roboto condensed';
    font-size: 18px;
    text-align: center;
}

.icon-container {
    height: 90px;
    padding-top: 10px
}

.calltoaction {
    background: #E8620C;
    color: #fff;
    padding: 20px 0;
    font-family: 'Roboto condensed';
    font-size: 18px;
    text-align: center;
}

.btn-white {
    background: #fff;
    border-radius: 5px;
    max-width: 100px;
    max-height: 30px;
    color: gray;
}

.footer {
    background: #15200E;
    padding: 20px 0;
}

.social a {
    display: inline-block;
    *display: inline-block;
    margin: 0 5px;
}

.footer h4 {
    color: #4EB779;
    line-height: 30px;
}

.footer-links li a {
    display: inline-block;
    background: url(../images/arrowbull.svg) no-repeat left 8px;
    background-size: auto 15px;
    padding-left: 20px;
    color: #E2E2E2;
    line-height: 30px;
}

a:hover {
    text-decoration: none;
}

.smallimgs a {
    display: inline-block;
    padding: 10px 5px;
}

.smallfooter,
.smallfooter a {
    color: #fff;
}

.internallinks {
    padding-left: 20px;
}

.internallinks li a {
    background: url(../images/blackarrow.svg) no-repeat left center;
    padding-left: 20px;
    background-size: 20px 20px;
    font-family: 'Roboto condensed';
    font-size: 14px;
    color: #000;
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 30px;
}



@-moz-document url-prefix() {



    .nav > li > a{padding-left: 10px; padding-right: 10px;}


}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover
{
  color: #337ab7 !important;

}
